html, body {
  width: 100%;
  height: 100%; }

body {
  background: #9fafae;
  padding: 0px;
  margin: 0px; }

.ofh {
  overflow: hidden; }

.no {
  display: none; }

#list {
  position: absolute;
  width: 100%;
  height: 100%; }
  #list .thumbList {
    position: absolute; }
  #list a {
    position: absolute; }
    #list a img {
      width: 100%; }
