html, body {
  width: 100%;
  height: 100%; }

body {
  background: #9fafae;
  padding: 0px;
  margin: 0px; }

.ofh {
  overflow: hidden; }

.no {
  display: none; }

a {
  cursor: pointer; }

#list {
  position: absolute;
  width: 100%;
  height: 100%; }
  #list .thumbList {
    position: absolute; }
  #list a {
    position: absolute;
    text-align: right; }
    #list a img {
      width: 100%; }
    #list a .pageNum {
      color: #fff;
      font-size: 10px;
      font-weight: bold; }
      #list a .pageNum span {
        font-size: 14px;
        padding-left: 10px; }
    #list a.chapter span {
      font-size: 28px;
      padding-left: 10px; }

#chapters {
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute; }
  #chapters a {
    display: inline-block;
    margin: 0 10px; }
    #chapters a img {
      width: 100%; }

#chapterSlider {
  width: 5px;
  background: red;
  position: absolute;
  height: 100px;
  bottom: 3px;
  left: -100px;
  z-index: -1; }

.allow3D, #book .box .book_box .book {
  perspective: 2000px;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d; }

#book {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  display: none; }
  #book .box {
    width: 100%;
    height: 100%;
    position: absolute; }
    #book .box .book_box {
      width: 2048px;
      height: 1536px;
      position: absolute;
      -moz-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      -webkit-transform-origin: top left;
      transform-origin: top left; }
      #book .box .book_box .book {
        position: absolute;
        left: 50%;
        height: 1536px; }
        #book .box .book_box .book .paper {
          position: absolute;
          top: 0;
          width: 1024px;
          height: 1536px;
          display: none;
          z-index: 0; }
          #book .box .book_box .book .paper img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px; }
          #book .box .book_box .book .paper:nth-child(odd) {
            left: 0;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            -ms-transform-origin: left center;
            -webkit-transform-origin: left center;
            transform-origin: left center; }
          #book .box .book_box .book .paper:nth-child(even) {
            right: 0;
            -moz-transform-origin: right center;
            -o-transform-origin: right center;
            -ms-transform-origin: right center;
            -webkit-transform-origin: right center;
            transform-origin: right center; }

#btn_catalog {
  position: absolute;
  width: 29px;
  height: 50px;
  bottom: 0;
  left: 20px;
  display: none;
  background: url(../img/bar_btn_catalog_white.png) center center no-repeat;
  cursor: pointer; }

#c_tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  overflow: hidden; }
  #c_tip img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -375px -667px;
    cursor: pointer; }

@-webkit-keyframes play_tip_hand_act {
  0% {
    right: 25px; }
  50%,100% {
    right: 55px; } }
@-moz-keyframes play_tip_hand_act {
  0% {
    right: 25px; }
  50%,100% {
    right: 55px; } }
@-ms-keyframes play_tip_hand_act {
  0% {
    right: 25px; }
  50%,100% {
    right: 55px; } }
@keyframes play_tip_hand_act {
  0% {
    right: 25px; }
  50%,100% {
    right: 55px; } }
.pop, #play_tip, #back_tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  overflow: hidden; }
  .pop .pc, #play_tip .pc, #back_tip .pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }

#play_tip .pc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }
  #play_tip .pc img {
    position: absolute; }
  #play_tip .pc .icon {
    right: 115px;
    top: 50%;
    margin-top: -12px; }
  #play_tip .pc .hand {
    right: 55px;
    top: 50%;
    margin-top: -43px;
    animation: play_tip_hand_act 1s linear infinite;
    -webkit-animation: play_tip_hand_act 1s linear infinite;
    -moz-animation: play_tip_hand_act 1s linear infinite;
    -ms-animation: play_tip_hand_act 1s linear infinite;
    -o-animation: play_tip_hand_act 1s linear infinite; }

#back_tip .pc img {
  position: absolute; }
#back_tip .pc .icon {
  left: 25px;
  bottom: 60px; }
#back_tip .pc .back {
  left: 20px;
  bottom: 11px; }
