doctype html
html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="target-densitydpi=device-dpi,user-scalable=yes")
  link(rel="stylesheet" href="css/style.css")
  title Hello 
body
  #list.ofh
    .thumbList
  #chapters
  #chapterSlider
  #book.ofh
    .box.box_box
      .book_box
        .book
  #btn_catalog
  #c_tip
    img(src="img/c_tip.gif")
  #play_tip.no
    .pc
      img.icon(src="img/tip_drag_icon1.png")
      img.hand(src="img/tip_drag_hand.png")
  #back_tip.no
    .pc
      img.icon(src="img/tip_back_light.gif")
      img.back(src="img/bar_btn_catalog_white.png")
  #zoom_tip.no
    img.icon(src="img/zoom_tip.gif")
  #no_show.no
    img.icon(src="img/rotate_icon.gif")
  audio#flipflip_vol(preload="true" src="flipflip.mp3") 
  audio#flip_vol(preload="true" src="flip.mp3") 
  script(src="js/vendor/jade-runtime.js")
  script(src="js/vendor/jquery.min.js")
  script(src="js/vendor/lodash.min.js")
  script(src="js/vendor/modernizr.min.js")
  script(src="js/config.json.js")
  script(src="js/classes.js")
  script(src="js/clazz.js")
  script(src="js/template.js")
  script(src="js/main.js")