doctype html
html
head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="css/style.css")
  title Hello 
body
  #list.ofh
    .thumbList
  #chapters
  #book
  audio#flipflip_vol(preload="true" src="flipflip.mp3") 
  audio#flip_vol(preload="true" src="flip.mp3") 
  script(src="js/vendor/jade-runtime.js")
  script(src="js/vendor/jquery.min.js")
  script(src="js/vendor/lodash.min.js")
  script(src="js/vendor/modernizr.min.js")
  script(src="js/config.json.js")
  script(src="js/classes.js")
  script(src="js/template.js")
  script(src="js/main.js")